@model IEnumerable<Xul.Domain.Entities.Teacher>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeacherNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SchoolId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EnlistedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SchoolId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EnlistedDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
