@model IEnumerable<Xul.Domain.Entities.Stream>


<table class="table">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.StreamName)
        </th>
        <th>Action</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.StreamName)
        </td>
        <td>
            <a href="@Url.Action("Edit",new {id= item.Id})" class="fa fa-3x  fa-pencil" title="Click to Edit"></a>
            <a href="@Url.Action("Details",new {id= item.Id})" class="fa fa-3x fa-info" title="Click to View"></a>
            <a href="@Url.Action("Delete",new {id= item.Id})" class="fa fa-3x fa-trash-o" title="Click to Delete" style="color: red"></a>

 
        </td>
    </tr>
}

</table>
